{% block menu %}

    {% if menu %}
        <nav {% if classList is not empty %}class="{{ classList }}"{% endif %} >
        {% for menu_item in menu %}
            <a href="{{ menu_item.url }}">{{ menu_item.title }}</a>
        {% endfor %}
        </ul>
    {% endif %}
    
{% endblock %}
