{% extends 'FrontendBase::index.html.twig' %}

{% block theme_class 'simpleapp' %}

{% block header %}    
    {% include 'FrontendBase::sections/header/header.html.twig' %}
{% endblock %}

{% block main %}
    <div class="main">
        <div class="content page-home" id="page-home">
            <p class="mb-30">{{ myData }}</p>
            <p>
                <span class="link" @click="openModalPlainText">click for modal plain-text</span>
            <p>
                <span class="link" @click="openModalApiLuck('Test your luck API')">click for api-luck</span>
            </p>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <div class="footer">
        <p><strong>Demo footer</strong></p>
    </div>
{% endblock %}
