{% extends 'FrontendBase::index.html.twig' %}

{% block theme_class 'simpleapp' %}

{% block header %}    
    {% include 'FrontendBase::sections/header/header.html.twig' %}
{% endblock %}

{% block main %}
    <div class="main">
        <div class="content page-forth" id="page-forth">
            <div class="mb-30">
                <p class="intro">Modal as an UX helper to convey information about transaction threat and result.</p>
            </div>

            <div class="mb-30">
                <p><strong>Feedback from backend API.</strong></p>
                <p class="mb-15">The component calls API and depending upon result different modal is called.</p>
                <p class="link" @click="doApiWithResponse">
                    random success API
                </p>
            </div>

            <div>
                <p><strong>List component with confirm functions.</strong></p>
                <p class="mb-15">The component calls modal for confirmation and result is returned through a modal handler.</p>
            
                <list></list>
            </div>

            
            

        </div>
    </div>
{% endblock %}

{% block footer %}
    <div class="footer">
        <p><strong>Demo footer</strong></p>
    </div>
{% endblock %}
