{% extends 'FrontendBase::index.html.twig' %}

{% block theme_class 'simpleapp' %}

{% block main %}
    <div class="main">
        <div class="content page-visual-templates" id="page-visual-templates">
            <div class="mb-30">
                <p class="intro">Modal can have several visual forms (templates of html+css).</p>
            </div>
            <p>
                <span class="link" @click="openModalMap()">click for map (bare template)</span>
            </p>
        </div>
    </div>
{% endblock %}
