.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
}


.modal-wrapper {
    @extend .overlay;

    display: flex;
    align-items: stretch;
    justify-content: center;

    @include from($breakpoint-xs) {
        align-items: center;
    }

    &.modal-left-on-wide {
        @include from($breakpoint-xs) {
            justify-content: flex-start;
        }
    }

    &.modal-right-on-wide {
        @include from($breakpoint-xs) {
            justify-content: flex-end;
        }
    }

    &.modal-full-height {
        @include from($breakpoint-xs) {
            align-items: stretch;
        }

        .modal,
        .modal-content {
            @include medium-devices {
                height: 100%;
            }
        }
    }
}

.modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    z-index: 100;
    opacity: 0.2;
    background-color: black;

    @include from($breakpoint-xs) {
        display: block;
    }
}

.modal {
    z-index: 110;
    position: relative;
    display: flex;
    justify-content: center;
    overflow-y: auto;
    @include block-shadow-equal;

    @include until($breakpoint-xs) {
        width: 100%;
        height: 100%;
    }

    @include from($breakpoint-xs) {
        align-items: center;
        width: auto;
    }

    .modal-close {
        width: 30px;
        height: 30px;
        background: transparent;
        border: 0;
        text-decoration: none;
        color: lighten($color-text, 30%);
        
        @include from($breakpoint-xs) {
            margin-top: -20px;
            margin-right: -20px;
        }
        
        &:focus,
        &:hover {
            color: $color-headers;
            text-decoration: none;
        }
        
        .icon-close {
            width: 100%;
            height: 100%;
            @include text-color-transition;
        }
    }

    .modal-content {
        position: relative;
        padding: 20px;
        width: 100%;
        height: 100%;

        overflow-y: auto;
        background-color: white;

        @include from($breakpoint-xs) {
            padding: 40px;
            max-width: 640px;
        }

        .modal-header {
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
        }

        .modal-header-title {
            position: relative;
            width: calc(100% - 40px);
            font-size: 20px;
            line-height: 22px;
            font-weight: bold;
            color: $color-headers;

            @include until($breakpoint-xs) {
                margin-top: 20px;
            }
            @include from($breakpoint-xs) {
                font-size: 22px;
                line-height: 28px;
                margin-top: 10px;
            }
        }

        .modal-body {

            @include from($breakpoint-xs) {
                overflow-y: visible;
                // this makes modal scrollable when modal is higher than screen
            }
        }

        iframe {
            // in case of embeds: youtube, etc.
            display: block;
            width: 100%;
            margin: 0 auto;
        }
    }

}   // end of .modal

// Animations

.fade-zoom-enter-active,
.fade-zoom-leave-active {
    transition-duration: 0.2s;

    .modal-overlay {
        transition: opacity 0.1s ease;
    }

    .modal {
        transition: transform 0.2s ease,
                    opacity 0.1s ease
    }
}

.fade-zoom-enter,
.fade-zoom-leave-to {
    .modal-overlay {
        opacity: 0;
    }

    .modal {
        opacity: 0;
        transform: scale(0.9);
    }
}

.slide-right-enter-active,
.slide-right-leave-active {
    transition-duration: 0.2s;

    .modal-overlay {
        transition: opacity 0.1s ease;
    }

    .modal {
        transition: transform 0.2s ease;
    }
}

.slide-left-enter,
.slide-left-leave-to {
    .modal-overlay {
        opacity: 0;
    }

    .modal {
        transform: translateX(-100%);
    }
}

.slide-left-enter-active,
.slide-left-leave-active {
    transition-duration: 0.2s;

    .modal-overlay {
        transition: opacity 0.1s ease;
    }

    .modal {
        transition: transform 0.2s ease;
    }
}
