{% extends 'FrontendBase::index.html.twig' %}

{% block theme_class 'simpleapp' %}

{% block header %}    
    {% include 'FrontendBase::sections/header/header.html.twig' %}
{% endblock %}

{% block main %}
    <div class="main">
        {{ myData }}
    </div>
{% endblock %}

{% block footer %}
    <div class="footer">
        <p><strong>Demo footer</strong></p>
    </div>
{% endblock %}
