<!DOCTYPE html>
<html lang="en">
<head>
{% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Flexible modals</title>
    <link rel="stylesheet" href="/app.css">
{% endblock %}
</head>

<body class="{% block theme_class %}{% endblock %}">
    <div id="app">

        <div class="page-wrapper">

            <div class="header" id="header">
                {% block header %}
                {% block menu %}{% endblock %}
                {% endblock %}
            </div>
            
            <div class="content">
                <div id="main">
                    {% block main %}{% endblock %}
                </div>
                <div id="aside">
                    {% block aside %}{% endblock %}
                </div>
            </div>
            
            <div class="footer" id="footer">
                {% block footer %}{% endblock %}
            </div>
            
        </div>

    </div>

    <script src="/reload/reload.js"></script>
    <script type="text/javascript" src="/app.js"></script>
</body>
</html>
