<div class="page-title-wrapper">
    <div class="page-title">Flexible modals</div>
</div>

{% include 'FrontendBase::sections/menu.html.twig' with { 
    'menu': menu, 'classList': 'header-menu' 
} %}
