// Texts
$color-text: #666;
$color-headers: #172b4d;
$color-links: #0057D8;
$color-lines: #ccc;

// Backgrounds
$color-bg1: #f4f5f7;
$color-bg2: #eaebec;

// Primary 
$color-primary-yellow: #ffcc00;
$color-primary-blue: #093888;
$color-primary-red: #ed1a3b;
