// Texts
$color-text: #666;
$color-headers: #172b4d;
$color-links: #0057D8;
$color-lines: #ccc;

// Backgrounds
$color-bg1: #f4f5f7;
$color-bg2: #eaebec;

// Primary 
$color-primary-yellow: #ffcc00;
$color-primary-blue: #093888;
$color-primary-red: #ed1a3b;

// Status
$color-success: #33cc66;
$color-warning: #ffcc00;
$color-danger: #ed1a3b;
$color-attention: #ff6600;
$color-disabled: #8a96a4;

// Additional
$clr-muted: #8d96a5;
$clr-muted-blur: #e0e4e7;
$clr-muted-dark: #606c81;
$clr-muted-silent: #f2f2f2;
