.page-wrapper {
    width: 100vw;
    min-height: 100vh;
    padding: 60px;
    background-color: $color-bg1; 

    @media only screen and (max-width: 485px) {
        padding: 60px 30px;
    }
}

.footer {
    background-color: $color-bg2;
}

.layout-block {
    padding: 30px;
}

// used on body element when overlay interactive components are active
.scroll-freeze {
    overflow: hidden;
}
