body {
    color: $color-text;
}

.link {
    cursor: pointer;
    
    &:hover {
        color: $color-headers;
    }
}

.intro {
    font-size: 20px;
    color: $color-links;
}

.big-title {
    font-size: 50px;
    font-weight: bold;
}

.small {
    font-size: 12px;
}
