// starting with extra small devices 
$breakpoint-xs: 544px;
// small devices
$breakpoint-sm: 768px;
// medium devices
$breakpoint-md: 992px;
// large devices
$breakpoint-lg: 1200px;
// extra large devices
$breakpoint-xl: 1920px;
